<div class="banner">
  <div class="banner-content">
    <h1>Mister cocktail App</h1>
    <p>Make your cocktail creative</p>
    <%=link_to "See all the cocktails", "#cocktails", class: "btn btn-primary btn-lg" %>
  </div>
</div>
